*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

/* .bd_red{
  border:1px solid red;
}
.bd_blue{
  border:1px solid blue;
}
.bd_green{
  border:1px solid green;
}
.bd_pink{
  border:1px solid pink;
}
.bd_yellow{
  border:1px solid yellow; */

